

/* 
font-family: 'Climate Crisis', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Tilt Prism', cursive;
font-family: 'Tilt Warp', cursive;
font-family: 'Ubuntu', sans-serif;
 */



body {
    /* background-color: rgb(75, 207, 207); */
    background-image: linear-gradient(rgb(250, 250, 235), rgb(75, 207, 207));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    /* font-family: 'Tilt Prism', cursive; */
    font-family: 'Tilt Warp', cursive;
    color: #0e7c7b;
}

ul {
    color: rgb(1, 149, 149);
    list-style-type: none;
}

#seattleListHeading {
    /* display: flex; */
    padding: 30px;
    font-size: 30px;
}

#tokyoListHeading{
    padding: 30px;
    font-size: 30px;

}

#dubaiListHeading {
    padding: 30px;
    font-size: 30px;
}

#parisListHeading {
    padding: 30px;
    font-size: 30px;
}

#limaListHeading {
    padding: 30px;
    font-size: 30px;
}

.list{
    /* display: flex; */
}

#listHours{
    background-image: url("./images/salmon.png");
    background-repeat: no-repeat;
    background-position: center;
}





